* {
  font-family: "Barlow Condensed", sans-serif;
}

body {
  background-size: cover;
  background-repeat: no-repeat; 
  background: rgba(82, 82, 83, 0.3);
}

#landingPageBg {
  height: auto;
  width: 100%;
  background-size: cover;
  position: absolute;
}

#mainHeader {
  z-index: 9;
}

#heading {
  font-size: 5vw;
  text-align: center;
  margin-top: 5%;
}

#logo {
  position: relative;
  margin-bottom: 5%;
}

#logoText {
  position: absolute;
  left: 5%;
  top: 5%;
  font-size: 5vw;
  width: 25%;
  color: white;
  line-height: 1;
}

.dashboard {
  display: block;
}

.card {
  /* Use an rgb color value and the 0.2 at the end to make the background transparent while keeping the card content completely visible: */
  background: rgba(116, 117, 119, 0);
  color: white;
}

#horoscopeSection {
  padding: 3%;
}
#horoscopeText {
  display: inline-block;
  font-size: 1.2vw;
}

#animalsSection {
  padding: 2%;
  padding-left: 20%;
  text-align: right;
  font-size: 2vw;
  color: black;
}
#animalText {
  font-size: 1vw;
}
#animalHeader {
  font-size: 2vw;
}
#catImg {
  display: inline-block;
  height: 125px;
  width: 125px;
  object-fit: cover;
  border-radius: 75px;
  box-shadow: 0px 3px 3px 0px rgb(41, 40, 43);
}
#dogImg {
  display: inline-block;
  height: 125px;
  width: 125px;
  object-fit: cover;
  border-radius: 75px;
  box-shadow: 0px 3px 3px 0px rgb(41, 40, 43);
}
#dogImg:hover,
#catImg:hover {
  cursor: url("../DailyVibes/Assets/dogPaw.png"), auto;
}

#personalSection {
  font-size: 5vw;
  text-align: center;
}
#personalizedMessage {
  font-size: 3vw;
  margin-top: 1%;
}

#weather {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
.card-image {
  margin-left: 25%;
}
#city {
  font-size: 1.5vw;
  line-height: 1;
}
#temp {
  font-size: 1vw;
  line-height: 1;
}
#weatherIcon {
  width: 50%;
}

#currentDay {
  font-size: 6vw;
  font-weight: bolder;
}

#quoteSection {
  margin-top: auto;
  padding: 3%;
  text-align: center;
  position: bottom;
  font-size: 1.5vw;
  font-weight: bold;
}

#musicSection {
  padding-left: 3%;
}
#userVibe {
  font-size: 1vw;
}
.musicPlayer {
  width: 300px;
  height: 280px;
}

.hide {
  display: none;
}

/* Add in additional responsiveness for smaller screens and devices: */
@media screen and (max-width: 1300px) {
  .musicPlayer {
    width: 80px;
    height: 80px;
  }
  body{
    height: 100%vh;
    width: 100%;
  }
}
@media screen and (max-width: 1300px) {
  #animalsSection {
    padding: 2%;
  }
}
@media screen and (max-width: 768px) {
  #horoscopeText {
    font-size: 2.5vw;
  }
  #animalText {
    font-size: 2vw;
  }
  #animalHeader {
    font-size: 2.5vw;
  }
  #temp {
    font-size: 2vw;
  }
  #city {
    font-size: 2.5vw;
  }
  #weatherIcon {
    width: 100%;
  }
  #weather-content {
    padding: 0;
    margin: 0;
    padding-top: 12%;
  }
  .card-image {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  #quoteSection {
    font-size: 3vw;
  }
  #horoscopeText {
    font-size: 3vw;
  }
  #userVibe {
    font-size: 2vw;
  }
  #temp {
    font-size: 2vw;
  }
  #city {
    font-size: 3vw;
  }
  #personalSection {
    font-size: 7vw;
  }
  #personalizedMessage {
    font-size: 4vw;
  }
  #animalText {
    font-size: 2vw;
  }
  #animalHeader {
    font-size: 3vw;
  }
}
