*{
  font-family: "Tenor Sans", sans-serif;
  
}
body{
  /* background-image: URL('./Assets/pexels-quang-nguyen-vinh-2131801.jpg'); */
  background-size: 100%;
  background-repeat: no-repeat;
}

#heading {
  font-size: 5vw;
  font-family: "Tenor Sans", sans-serif;
  text-align: center;
  margin-top: 5%;
}

#logo {
  position: relative;
  margin-bottom: 5%;
}

#logoText {
  position: absolute;
  left: 5%;
  top: 5%;
  font-size: 5vw;
  width: 25%;
  color: white;
  text-shadow: 0px 5px black;
  line-height: 1;
}

.dashboard {
  display: block;
}

.card{
/* Use an rgb color value and the 0.2 at the end to make the background transparent while keeping the card content completely visible: */
  background:rgb(69, 89, 128, 0.4);
  color: white;
}


#horoscopeSection {
  /* background-color: blueviolet; */
  padding: 3%;
}
#horoscopeImg {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
#horoscopeText {
  display: inline-block;
}

#animalsSection {
  padding: 2%;
  padding-left: 20%;
  text-align: center;
  font-size: 2vw;
  color: black;
}
#animalText {
  font-size: 1vw;
}
#animalHeader{
  font-size: 2vw;
}
#catImg {
  display: inline-block;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 75px;
  box-shadow: 0px 3px 3px 0px rgb(41, 40, 43);
}
#dogImg {
  display: inline-block;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 75px;
  box-shadow: 0px 3px 3px 0px rgb(41, 40, 43);
}
#dogImg:hover,
#catImg:hover {
  cursor: url("../DailyVibes/Assets/dogPaw.png"), auto;
}

#personalSection {
  /* background-color: palevioletred; */
  font-size: 5vw;
  text-align: center;
  text-shadow: 0px 5px rgb(39, 39, 43);
}
#personalizedMessage {
  font-size: 3vw;
  margin-top: 1%;
  text-shadow: 0px 3px rgb(39, 39, 43);
}

#weather {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left:5%;
  padding-right: 5%;
}

#city {
  font-size: 1.5vw;
  line-height: 1;
}
#temp {
  font-size: 1vw;
  line-height: 1;
}
#weatherIcon{
  width: 50%;  
}

#quoteSection {
  /* background-color: yellow; */
  padding: 3%;
  text-align: center;
  font-size: 1.5vw;
}

#musicSection{
    /* background-color: lightblue; */
    padding: 3%;
    text-align: center;
}
#userVibe{
  font-size: 1vw;
  text-align: center;
}

.hide {
    display: none;
}

@media screen and (max-width: 1300px) {
  #animalsSection{
      padding: 2%;
  }
}



